@model dotnet_facebook.Models.DatabaseObjects.Users.User

@{
    ViewData["Title"] = "Profile Card";
    Layout = "_LayoutRegular";

    //  id: @Model.UserId
}

@section Styles
{
    <link rel="stylesheet" href="~/css/profilestyles.css" />
}

<div class="card">
    <div class="container">
        <div class="row">
            <p class="col profile-img"></p>
            <div class="col container">
                <div class="row h-25 bg-secondary mx-3 mb-3 rounded justify-content-center align-items-center rounded-4"><p class="m-0 text-center"></p></div>
                <div class="row h-25 bg-secondary mx-3 my-3 rounded justify-content-center align-items-center rounded-4"><p class="m-0 text-center"></p></div>
            </div>
        </div>
    </div>
    <p class="bio text-center rounded-4">Group Not found</p>
</div>