

@{
    ViewData["Title"] = "Profile Card";
    Layout = "_LayoutRegular";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/profilestyles.css" />
}

<div class="card">

    <div class=" bg-secondary mx-3 my-3 rounded " style="height: 100px">
        <div style="height: 80px; width: 80px; background-color: red; vertical-align: middle" class="">
            <img class="" src="" alt="Jan Kowalski">
        </div>
        
        <p class="m-0 text-center">Jan Kowalski</p>
        </div>
    <div class=" bg-secondary mx-3 my-3 rounded " style="height: 100px">
            23
        </div>
</div>
