

@{
    ViewData["Title"] = "Profile Card";
    Layout = "_LayoutRegular";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/profilestyles.css" />
}

<div class="card">
    <div class="bio rounded-4" id="bio-text" style="font-size: 30px">
        Wybierz użytkownika:
    </div>
    <div class="bio rounded-4" id="bio-text" style="font-size: 30px">
        <img class="    rounded-4" style="height: 80px; width: 80px; display: inline-block;" src="~/defaultUser.jpg" alt="Jan Kowalski">
        Model.UserProfile.UserBio
    </div>
    <div class="bio rounded-4" id="bio-text" style="font-size: 30px">
        <img class="    rounded-4" style="height: 80px; width: 80px; display: inline-block;" src="~/defaultUser.jpg" alt="Jan Kowalski">
        Model.UserProfile.UserBio
    </div>
    <div class="bio rounded-4" id="bio-text" style="font-size: 30px"></div>



</div>
