@model dotnet_facebook.Models.DatabaseObjects.Users.User

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutRegular";
}

<div class="card">
    <h1 class="mx-auto p-2 m-2">Login</h1>
    <form method="POST">
        <div class="row p-2 m-2">
            <div class="form-floating form-floating-outlined-primary p-2 m-2">
                <input asp-for="Nickname" type="text" class="form-control" id="user" placeholder="User Name" autocomplete="off">
                <label for="firstname-outline">User Name</label>
            </div>
            <div class="form-floating form-floating-outlined-primary p-2 m-2">
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="User Name" autocomplete="off">
                <label for="firstname-outline">Password</label>
            </div>
            <span class="text-danger">@Html.ValidationMessage("error")</span>
            <button type="submit" value="login" class="btn btn-outline-primary p-2 m-2">
                Login
                <span class="ripple-surface"></span>
            </button>
        </div>
    </form>
    <a asp-action="Register" class="link-secondary mx-auto m-2 ps-3">Register</a>
</div>

@if (!string.IsNullOrWhiteSpace(ViewBag.snackBar as string))
{
    <div class="snackbar rounded" id="register-snackbar">
        <span>@ViewBag.snackBar</span>
    </div>
}

@section Scripts {
    @if (!string.IsNullOrWhiteSpace(ViewBag.snackBar as string))
	{
		<script>
            new materialstyle.Snackbar(document.querySelector('#register-snackbar'));
		</script>
	}
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

