
@{
    ViewData["Title"] = "login";
}

<h1>login</h1>

<form method="POST">
    <div class="row">
        <div class="col">
            user
            <input type="text" name="user" id="user" />
        </div>
        <div class="col">
            password
            <input type="text" name="password" id="password" />
        </div>
        <div class="col">
            <input type="submit" value="login" />
        </div>

    </div>



</form>
