.profile-img {
    width: 25%;
    height: 25%;
    border-radius: 5%;
    background-color: #e0e0e0;
}

.bio {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    max-height: 150px;
    max-width: 30vw;
    min-width: 275px;
    min-height: 85px;
    margin-bottom: 15px;
    overflow: hidden;
    float: left;

}

.buttons {
    margin-bottom: 15px;
    /* margin-left: 15px; */
    /* float: left; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}

.btn:hover {
    background-color: #d5d5d5;
}

.common-friends {
    min-width: 30vw;
    float: left;
    text-align: left;
}

 .common-friends h3 {
    margin: 0 0 10px 0;
}

.friend {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.friend-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.friend-name {
    flex-grow: 1;
}