@model dotnet_facebook.Models.DatabaseObjects.Users.User

@{
    ViewData["Title"] = "Profile Card";
    Layout = "_LayoutRegular";
    
    //  id: @Model.UserId
}

@section Styles
{
    <link rel="stylesheet" href="~/css/profilestyles.css" />
}

<div class="card">
    <div class="container">
        <div class="row">
            <img class="col profile-img" src="https://static.vecteezy.com/system/resources/previews/024/766/958/original/default-male-avatar-profile-icon-social-media-user-free-vector.jpg" alt="Jan Kowalski">
            <div class="col container">
                <div class="row h-25 bg-secondary mx-3 mb-3 rounded justify-content-center align-items-center"><p class="m-0 text-center">@Model.Nickname</p></div>
                <div class="row h-25 bg-secondary mx-3 my-3 rounded justify-content-center align-items-center"><p class="m-0 text-center">Dołączył 01/01/1999</p></div>
            </div>
        </div>
    </div>
    
    <div class="buttons">
        <button class="btn">Zaproś</button>
        <button class="btn">Napisz</button>
    </div>
    <div class="bio">hej</div>
    <div class="common-friends">
        <h3>Wspólni znajomi:</h3>
        <div class="friend">
            <img src="avatar.jpg" alt="Adam Kowalski" class="friend-avatar">
            <div class="friend-name">Adam Kowalski</div>
        </div>
        <div class="friend">
            <img src="avatar.jpg" alt="Adam Kowalski" class="friend-avatar">
            <div class="friend-name">Adam Kowalski</div>
        </div>
    </div>
</div>