@{
    Layout = "_LayoutUser";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="~/css/profilestyles.css" />
</head>
<body>
    <div class="card">
        <div class="profile-img"> <img alt="Jan Kowalski"></div>
        <div class="nickname">
            <div class="name">Jan</div>
            <div class="surname">Kowalski</div>
        </div>
        <div class="buttons">
            <button class="btn">Zaproś</button>
            <button class="btn">Napisz</button>
        </div>
        <div class="bio">hej</div>
        <div class="common-friends">
            <h3>Wspólni znajomi:</h3>
            <div class="friend">
                <img src="avatar.jpg" alt="Adam Kowalski" class="friend-avatar">
                <div class="friend-name">Adam Kowalski</div>
            </div>
            <div class="friend">
                <img src="avatar.jpg" alt="Adam Kowalski" class="friend-avatar">
                <div class="friend-name">Adam Kowalski</div>
            </div>
        </div>
    </div>
</body>
</html>